# HOST=--host {{ chisel_server_host }}
PORT=--port {{ chisel_server_port }}
# KEY=--key {{ chisel_server_key }}
# AUTH_FILE=--authfile {{ chisel_server_auth_file }}
# AUTH=--auth {{ chisel_server_auth }}
# KEEPALIVE=--keepalive {{ chisel_server_keepalive }}
# BACKEND=--backend {{ chisel_server_backend }}
# SOCK5=--sock5
# TLS_CA=--tls-ca {{ chisel_server_tls_ca }}
# TLS_KEY=--tls-key {{ chisel_server_tls_key }}
# TLS_CERT=--tls-cert {{ chisel_server_tls_cert }}
# PID=--pid
VERBOSE=-v
