[Unit]
Description=A fast TCP tunnel over HTTP
After=network-online.target

[Service]
Type=simple
Nice=-5
LimitNOFILE=65535
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
Restart=always
StandardOutput=file:/var/log/chisel/{{ chisel_config_name }}.log
StandardError=file:/var/log/chisel/{{ chisel_config_name }}_error.log
EnvironmentFile={{ chisel_config_destination }}
ExecStart=/usr/local/bin/chisel server $HOST $PORT $KEY $AUTH_FILE $AUTH $KEEPALIVE $BACKEND $SOCK5 $TLS_KEY $TLS_CERT $TLS_DOMAIN $TLS_CA $PID $VERBOSE

[Install]
WantedBy=multi-user.target
