SERVER_URL={{ chisel_client_server_url }}
REMOTES={{ chisel_client_remotes }}
# FINGERPRINT=--fingerprint {{ chisel_client_server_fingerprint }}
# AUTH=--auth {{ chisel_client_auth_username }}:{{ chisel_client_auth_password }}
# KEEPALIVE=--keepalive {{ chisel_client_keepalive }}
# MAX_RETRY_COUNT=--max-retry-count {{ chisel_client_max_retry_count }}
# MAX_RETRY_INTERVAL=--max-retry-interval {{ chisel_client_max_retry_interval }}
# PROXY=--proxy {{ chisel_client_proxy }}
# HEADER={{ chisel_client_headers }}
# HOSTNAME=--hostname {{ chisel_client_hostname }}
# TLS_CA=--tls-ca {{ chisel_client_tls_ca }}
# TLS_SKIP_VERIFY= --tls-skip-verify
# TLS_KEY=--tls-key {{ chisel_client_tls_key }}
# TLS_CERT=--tls-cert {{ chisel_client_tls_cert }}
# PID=--pid
VERBOSE=-v